#page-header{
  margin-top: 120px;
  display: flex;
  height: 350px;
  width: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #7fffd4;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}