
nav{
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  background-color: #4056A1 ;
}

span{
  font-family: 'Bungee', cursive;
  color:azure
}